# SHA-256-Hashes der Zugangsdaten – KEIN Klartext im Bundle
# Hash erzeugen: echo -n "dein_wert" | shasum -a 256

VITE_APP_USERNAME_HASH=<sha256-hash-des-benutzernamens>
VITE_APP_PASSWORD_HASH=<sha256-hash-des-passworts>
